<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/"> Shark Species Database </a>
  </header>
  
  <div class="right menu">

<a id="start" href="/" class="item">Home</a>

<a id="dashboard" href="/dashboard" class="item">
Dashboard
</a>
<a id="about" href="/about" class="item">
About
</a>
<a id="facts" href="/facts" class="item">
Facts
</a>

</div>
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
