{{> menu id="dashboard"}}

<section class="ui center aligned segment">

<h2>Shark Species</h2>
<p>Select a Species to view the sharks.</p>

{{> listCategories}}
{{> addCategory}}
<div class="ui divided list">
{{#each species}}

<div class="item">
    <div class="content">
    <div class="header">
        {{species}}
    </div>
    
    <h2>{{title}}</h2> 
    <hr style="width: 200px;"> - <img src="{{image}}" style="width: 400" >
     <br>
    <a href="/species/{{id}}" class="ui blue button">
        View Species
    </a>
    <hr>
    </div>
  </div>

{{/each}}
</div>
</section>