{{> menu id="dashboard"}}

<section class="ui center aligned segment">

<h2>Shark Species</h2>
<p>Select a Species to view the sharks.</p>
<form action="/dashboard/search" method="GET" class="ui form">
  <div class="ui action input">
    <input 
    type="text" 
    name="query" 
    placeholder="Search sharks..." 
    autofocus required>
    <button class="ui blue button">Search</button>
  </div>
  
  <a href="/dashboard">
    <i class="refresh icon"></i>
    </a>
</form>
{{> listCategories}}
{{> addCategory}}

</section>