{{> menu}}

<section class="ui center aligned segment">

<h2>Interesting Shark Facts</h2>
<p>Here are some interesting facts about sharks.</p>

<button class="ui blue button" onclick="showFact()">
    Show Random Shark Fact
</button>
</section>