{{> menu id="start"}}

<section class="ui center aligned segment">

<h2>Shark Species Database</h2>
<p>
Welcome to Shark Species Database. This web app allows users to explore
different shark species and learn about the sharks.
</p>

<img src="/images/sharkTypes.png" alt="Types of Sharks" width="400">
</section>

<script src="/js/script.js"></script>
  